.product-action {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* Add this line to give spacing between buttons */
}

.product-img:hover .product-action {
  opacity: 1;
}
